#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1970px 1076px #fff, 1239px 1230px #fff, 1885px 1871px #fff,
    225px 102px #fff, 29px 722px #fff, 1626px 1668px #fff, 879px 1764px #fff,
    569px 873px #fff, 402px 725px #fff, 876px 942px #fff, 656px 1653px #fff,
    1646px 298px #fff, 1165px 921px #fff, 37px 1430px #fff, 659px 1665px #fff,
    830px 781px #fff, 949px 1509px #fff, 1025px 1159px #fff, 1606px 685px #fff,
    876px 1998px #fff, 232px 1849px #fff, 123px 795px #fff, 235px 640px #fff,
    160px 1391px #fff, 333px 1944px #fff, 502px 90px #fff, 1160px 680px #fff,
    1731px 1192px #fff, 642px 1930px #fff, 1879px 378px #fff, 314px 932px #fff,
    581px 545px #fff, 1926px 1705px #fff, 1147px 1339px #fff, 556px 1928px #fff,
    613px 1752px #fff, 556px 754px #fff, 1997px 1415px #fff, 361px 580px #fff,
    1987px 881px #fff, 127px 1991px #fff, 299px 80px #fff, 709px 600px #fff,
    1629px 1659px #fff, 1016px 1495px #fff, 592px 1858px #fff, 447px 553px #fff,
    1627px 703px #fff, 1802px 919px #fff, 6px 946px #fff, 1025px 867px #fff,
    1257px 1892px #fff, 1578px 223px #fff, 593px 409px #fff, 1116px 1246px #fff,
    1699px 1582px #fff, 199px 1520px #fff, 121px 975px #fff, 284px 558px #fff,
    330px 1998px #fff, 1564px 1690px #fff, 906px 1243px #fff, 1210px 492px #fff,
    511px 1450px #fff, 838px 1532px #fff, 1270px 1288px #fff, 852px 709px #fff,
    1760px 1944px #fff, 1053px 495px #fff, 1761px 1430px #fff,
    1086px 1280px #fff, 773px 1280px #fff, 469px 1606px #fff, 1202px 1604px #fff,
    725px 18px #fff, 314px 189px #fff, 678px 324px #fff, 674px 1353px #fff,
    44px 600px #fff, 1301px 1270px #fff, 388px 1001px #fff, 55px 1771px #fff,
    1179px 1167px #fff, 777px 993px #fff, 1440px 1014px #fff, 734px 1661px #fff,
    496px 1617px #fff, 1156px 565px #fff, 906px 219px #fff, 774px 9px #fff,
    1106px 1170px #fff, 85px 332px #fff, 67px 1918px #fff, 860px 1585px #fff,
    1900px 493px #fff, 1814px 1299px #fff, 1446px 1502px #fff, 1568px 101px #fff,
    1377px 272px #fff, 1428px 1339px #fff, 1893px 189px #fff, 1036px 302px #fff,
    1419px 680px #fff, 414px 1977px #fff, 913px 804px #fff, 50px 1146px #fff,
    1865px 1652px #fff, 690px 583px #fff, 301px 111px #fff, 348px 647px #fff,
    1184px 1111px #fff, 318px 560px #fff, 141px 458px #fff, 702px 1770px #fff,
    536px 529px #fff, 797px 1780px #fff, 201px 1684px #fff, 805px 1144px #fff,
    1415px 952px #fff, 947px 1413px #fff, 694px 1061px #fff, 1311px 581px #fff,
    1147px 1955px #fff, 1008px 1446px #fff, 1768px 371px #fff, 413px 1174px #fff,
    1428px 95px #fff, 619px 24px #fff, 412px 484px #fff, 1684px 497px #fff,
    379px 1171px #fff, 1976px 621px #fff, 1187px 1837px #fff, 618px 223px #fff,
    584px 782px #fff, 727px 1144px #fff, 875px 1015px #fff, 678px 251px #fff,
    1649px 423px #fff, 143px 1095px #fff, 1006px 847px #fff, 1112px 754px #fff,
    452px 1022px #fff, 419px 956px #fff, 1582px 1515px #fff, 380px 1211px #fff,
    1819px 597px #fff, 915px 915px #fff, 709px 428px #fff, 574px 379px #fff,
    1653px 985px #fff, 36px 31px #fff, 195px 966px #fff, 78px 1686px #fff,
    9px 1266px #fff, 1317px 1998px #fff, 322px 1973px #fff, 1240px 1500px #fff,
    890px 1856px #fff, 1474px 1045px #fff, 109px 638px #fff, 1616px 1073px #fff,
    1402px 117px #fff, 187px 23px #fff, 797px 348px #fff, 324px 626px #fff,
    1547px 1113px #fff, 251px 1230px #fff, 261px 667px #fff, 737px 630px #fff,
    1103px 1181px #fff, 1957px 1889px #fff, 242px 540px #fff, 560px 240px #fff,
    875px 1931px #fff, 1625px 1522px #fff, 507px 478px #fff, 1392px 45px #fff,
    1614px 1487px #fff, 61px 1700px #fff, 1920px 637px #fff, 1346px 1824px #fff,
    502px 1112px #fff, 55px 1183px #fff, 1979px 109px #fff, 974px 1692px #fff,
    507px 1394px #fff, 223px 1384px #fff, 1385px 1641px #fff, 181px 177px #fff,
    1062px 1924px #fff, 790px 1048px #fff, 457px 1108px #fff, 637px 665px #fff,
    1410px 79px #fff, 1670px 173px #fff, 193px 1172px #fff, 635px 1132px #fff,
    272px 1671px #fff, 1555px 953px #fff, 398px 840px #fff, 1983px 815px #fff,
    1552px 1909px #fff, 1301px 524px #fff, 1522px 965px #fff, 1022px 920px #fff,
    68px 521px #fff, 1191px 709px #fff, 897px 18px #fff, 1796px 1166px #fff,
    48px 1873px #fff, 1940px 1468px #fff, 311px 394px #fff, 913px 417px #fff,
    1107px 895px #fff, 1698px 592px #fff, 1124px 1170px #fff, 1346px 1545px #fff,
    1448px 1661px #fff, 374px 614px #fff, 503px 455px #fff, 1963px 981px #fff,
    881px 816px #fff, 362px 867px #fff, 1816px 1072px #fff, 1280px 495px #fff,
    1394px 1736px #fff, 1125px 662px #fff, 690px 193px #fff, 1345px 83px #fff,
    169px 377px #fff, 178px 729px #fff, 773px 1824px #fff, 1988px 829px #fff,
    540px 1479px #fff, 1686px 666px #fff, 228px 1859px #fff, 1115px 340px #fff,
    512px 1415px #fff, 1530px 221px #fff, 662px 857px #fff, 1355px 229px #fff,
    758px 806px #fff, 1212px 1338px #fff, 1866px 676px #fff, 1019px 1623px #fff,
    146px 1712px #fff, 112px 1113px #fff, 840px 423px #fff, 370px 915px #fff,
    1821px 317px #fff, 1229px 1105px #fff, 539px 358px #fff, 1878px 1358px #fff,
    862px 719px #fff, 1812px 1313px #fff, 833px 1667px #fff, 673px 1702px #fff,
    1140px 1199px #fff, 122px 1967px #fff, 874px 1560px #fff, 689px 947px #fff,
    1360px 286px #fff, 476px 101px #fff, 1648px 751px #fff, 1256px 960px #fff,
    1792px 306px #fff, 1299px 422px #fff, 1533px 931px #fff, 1474px 966px #fff,
    790px 319px #fff, 1296px 734px #fff, 1146px 1362px #fff, 307px 1123px #fff,
    147px 609px #fff, 1904px 119px #fff, 755px 1324px #fff, 1823px 177px #fff,
    78px 1453px #fff, 1702px 864px #fff, 565px 62px #fff, 202px 1522px #fff,
    1807px 1799px #fff, 23px 1521px #fff, 1490px 1566px #fff, 74px 1415px #fff,
    903px 1860px #fff, 1667px 740px #fff, 80px 1841px #fff, 246px 144px #fff,
    1278px 488px #fff, 584px 1425px #fff, 767px 814px #fff, 477px 969px #fff,
    415px 142px #fff, 943px 544px #fff, 1321px 1620px #fff, 795px 229px #fff,
    221px 1383px #fff, 399px 754px #fff, 1866px 323px #fff, 1925px 60px #fff,
    1006px 632px #fff, 1677px 171px #fff, 540px 847px #fff, 69px 279px #fff,
    81px 1639px #fff, 1924px 1642px #fff, 1945px 765px #fff, 1027px 587px #fff,
    60px 628px #fff, 1572px 1318px #fff, 1195px 653px #fff, 1605px 1930px #fff,
    1394px 1725px #fff, 603px 522px #fff, 661px 396px #fff, 1101px 366px #fff,
    141px 1094px #fff, 31px 63px #fff, 114px 1074px #fff, 1588px 788px #fff,
    1345px 993px #fff, 343px 242px #fff, 1570px 669px #fff, 1348px 695px #fff,
    1263px 1229px #fff, 1050px 1756px #fff, 816px 1860px #fff, 576px 422px #fff,
    1144px 1357px #fff, 843px 1643px #fff, 1063px 25px #fff, 1217px 1018px #fff,
    1271px 1578px #fff, 1687px 1518px #fff, 205px 12px #fff, 312px 735px #fff,
    185px 1816px #fff, 462px 583px #fff, 601px 1288px #fff, 1975px 696px #fff,
    508px 1178px #fff, 1549px 1161px #fff, 1477px 490px #fff, 1152px 195px #fff,
    1359px 1095px #fff, 1612px 1335px #fff, 1487px 136px #fff, 273px 619px #fff,
    1796px 906px #fff, 507px 1587px #fff, 287px 1653px #fff, 1568px 1075px #fff,
    470px 1950px #fff, 178px 459px #fff, 896px 1719px #fff, 1565px 620px #fff,
    1619px 64px #fff, 1387px 707px #fff, 1724px 242px #fff, 725px 194px #fff,
    869px 1663px #fff, 1023px 1888px #fff, 1771px 1584px #fff, 428px 166px #fff,
    1147px 1339px #fff, 129px 248px #fff, 63px 1751px #fff, 1503px 729px #fff,
    54px 1263px #fff, 1024px 940px #fff, 380px 465px #fff, 1444px 683px #fff,
    1748px 717px #fff, 784px 1229px #fff, 312px 1307px #fff, 51px 1851px #fff,
    1566px 1418px #fff, 1841px 1113px #fff, 1182px 1773px #fff,
    815px 1724px #fff, 1464px 862px #fff, 846px 589px #fff, 1110px 1605px #fff,
    1534px 693px #fff, 238px 133px #fff, 149px 1064px #fff, 1880px 113px #fff,
    603px 1218px #fff, 920px 1857px #fff, 255px 1560px #fff, 17px 1053px #fff,
    464px 1796px #fff, 1346px 1037px #fff, 430px 1287px #fff, 1262px 1568px #fff,
    11px 1793px #fff, 162px 97px #fff, 1570px 1805px #fff, 1295px 1406px #fff,
    540px 1526px #fff, 1768px 268px #fff, 1790px 1557px #fff, 1419px 700px #fff,
    1301px 244px #fff, 551px 264px #fff, 136px 64px #fff, 1725px 1182px #fff,
    434px 1290px #fff, 881px 367px #fff, 221px 1914px #fff, 311px 1676px #fff,
    170px 497px #fff, 656px 823px #fff, 1448px 1209px #fff, 1897px 351px #fff,
    390px 1018px #fff, 1551px 1373px #fff, 1834px 1317px #fff,
    1149px 1231px #fff, 796px 615px #fff, 1317px 1708px #fff, 1190px 287px #fff,
    1569px 21px #fff, 495px 1276px #fff, 955px 1101px #fff, 1167px 1487px #fff,
    1185px 1978px #fff, 875px 1232px #fff, 1631px 738px #fff, 1277px 1813px #fff,
    274px 1206px #fff, 646px 1982px #fff, 1882px 608px #fff, 1538px 318px #fff,
    132px 1697px #fff, 619px 1300px #fff, 1270px 1815px #fff, 647px 621px #fff,
    1369px 823px #fff, 1760px 1711px #fff, 1844px 1195px #fff,
    1654px 1472px #fff, 388px 1250px #fff, 637px 1443px #fff, 421px 1502px #fff,
    710px 752px #fff, 499px 1409px #fff, 1177px 32px #fff, 1451px 117px #fff,
    1034px 379px #fff, 1920px 344px #fff, 1328px 529px #fff, 355px 1968px #fff,
    122px 849px #fff, 1981px 1043px #fff, 1421px 33px #fff, 950px 455px #fff,
    1794px 504px #fff, 1678px 743px #fff, 639px 557px #fff, 358px 330px #fff,
    989px 1446px #fff, 1493px 1025px #fff, 1300px 1423px #fff, 1335px 331px #fff,
    1249px 540px #fff, 721px 1628px #fff, 44px 59px #fff, 772px 1306px #fff,
    1093px 1015px #fff, 808px 356px #fff, 435px 1344px #fff, 885px 1758px #fff,
    1068px 1768px #fff, 1579px 998px #fff, 1399px 1778px #fff, 1999px 32px #fff,
    1387px 1150px #fff, 1849px 759px #fff, 373px 1357px #fff, 144px 895px #fff,
    1348px 905px #fff, 936px 490px #fff, 808px 1811px #fff, 1528px 1296px #fff,
    1222px 873px #fff, 261px 1502px #fff, 652px 1900px #fff, 164px 1706px #fff,
    1375px 1124px #fff, 1627px 1509px #fff, 1344px 1418px #fff,
    1774px 689px #fff, 1709px 125px #fff, 543px 216px #fff, 468px 1906px #fff,
    516px 654px #fff, 155px 893px #fff, 950px 1795px #fff, 1321px 770px #fff,
    1308px 1074px #fff, 1271px 693px #fff, 405px 357px #fff, 157px 438px #fff,
    1209px 116px #fff, 775px 1989px #fff, 1004px 1404px #fff, 1500px 1327px #fff,
    855px 331px #fff, 1929px 1891px #fff, 1876px 711px #fff, 1340px 408px #fff,
    568px 1354px #fff, 934px 1031px #fff, 1002px 1662px #fff, 771px 317px #fff,
    1497px 1846px #fff, 1198px 1722px #fff, 1655px 139px #fff, 668px 1684px #fff,
    289px 1555px #fff, 1809px 1722px #fff, 911px 483px #fff, 32px 189px #fff,
    99px 1800px #fff, 563px 1820px #fff, 876px 1576px #fff, 139px 1218px #fff,
    1231px 1925px #fff, 819px 1807px #fff, 630px 117px #fff, 689px 506px #fff,
    953px 901px #fff, 279px 98px #fff, 1879px 331px #fff, 1507px 1073px #fff,
    1522px 1891px #fff, 1912px 866px #fff, 992px 1783px #fff, 1762px 452px #fff,
    1296px 1826px #fff, 381px 509px #fff, 1640px 362px #fff, 323px 561px #fff,
    27px 1868px #fff, 1904px 877px #fff, 1075px 1653px #fff, 765px 1273px #fff,
    70px 347px #fff, 439px 292px #fff, 1561px 1635px #fff, 1106px 747px #fff,
    1694px 1025px #fff, 1830px 305px #fff, 39px 1226px #fff, 959px 1721px #fff,
    643px 622px #fff, 2px 119px #fff, 395px 400px #fff, 1543px 688px #fff,
    853px 360px #fff, 913px 820px #fff, 1879px 1340px #fff, 494px 1397px #fff,
    57px 95px #fff, 40px 75px #fff, 1131px 1118px #fff, 968px 1392px #fff,
    256px 1785px #fff, 144px 1252px #fff, 1449px 1246px #fff, 1704px 438px #fff,
    697px 1698px #fff, 1321px 1096px #fff, 479px 1049px #fff, 1961px 382px #fff,
    1187px 127px #fff, 1492px 983px #fff, 315px 1135px #fff, 1167px 1168px #fff,
    673px 1853px #fff, 1491px 1353px #fff, 871px 1453px #fff, 877px 195px #fff,
    325px 189px #fff, 324px 1335px #fff, 1318px 1465px #fff, 1207px 478px #fff,
    404px 643px #fff, 1414px 77px #fff, 999px 1951px #fff, 1792px 928px #fff,
    449px 747px #fff, 1945px 1763px #fff, 1116px 479px #fff, 1926px 208px #fff,
    525px 1677px #fff, 1036px 536px #fff, 290px 1947px #fff, 819px 649px #fff,
    697px 623px #fff, 1380px 826px #fff, 1528px 1231px #fff, 811px 775px #fff,
    250px 1741px #fff, 306px 24px #fff, 1703px 884px #fff, 972px 318px #fff,
    160px 572px #fff, 1766px 1414px #fff, 1087px 16px #fff, 695px 553px #fff,
    1783px 613px #fff, 1120px 847px #fff, 232px 1820px #fff, 1470px 1189px #fff,
    265px 722px #fff, 264px 1704px #fff, 1101px 1907px #fff, 92px 1441px #fff,
    22px 815px #fff, 454px 994px #fff, 1619px 1991px #fff, 1775px 1355px #fff,
    299px 144px #fff, 269px 1928px #fff, 1781px 668px #fff, 1466px 1668px #fff,
    1714px 1695px #fff, 1146px 407px #fff, 1168px 268px #fff, 756px 1022px #fff,
    698px 805px #fff, 1179px 1503px #fff, 72px 1957px #fff, 1011px 1952px #fff,
    894px 153px #fff, 1886px 405px #fff, 874px 205px #fff, 477px 1623px #fff,
    913px 269px #fff, 1656px 1524px #fff, 1723px 1053px #fff, 607px 1842px #fff,
    855px 601px #fff, 1625px 78px #fff, 934px 332px #fff, 618px 1020px #fff,
    25px 1557px #fff, 1551px 890px #fff, 296px 1502px #fff, 913px 150px #fff,
    1417px 1829px #fff, 619px 573px #fff, 497px 737px #fff, 1236px 1910px #fff,
    725px 1502px #fff, 1860px 1848px #fff, 499px 1433px #fff, 595px 1788px #fff,
    471px 281px #fff, 250px 371px #fff, 1658px 718px #fff, 204px 288px #fff,
    1178px 1845px #fff, 816px 1874px #fff, 242px 678px #fff, 487px 1180px #fff,
    742px 1328px #fff, 1902px 1529px #fff, 1439px 695px #fff, 456px 408px #fff,
    797px 618px #fff, 1728px 159px #fff, 1369px 306px #fff, 988px 1470px #fff,
    1234px 1683px #fff, 804px 1798px #fff, 406px 1100px #fff, 225px 799px #fff,
    1726px 105px #fff, 692px 800px #fff, 1180px 934px #fff, 252px 691px #fff,
    370px 146px #fff, 1990px 230px #fff, 704px 1613px #fff, 547px 1225px #fff,
    768px 1627px #fff, 428px 288px #fff, 1447px 1587px #fff, 1179px 773px #fff,
    792px 930px #fff, 252px 465px #fff, 583px 1937px #fff, 965px 1937px #fff,
    913px 146px #fff, 650px 256px #fff;
  animation: animStar 50s linear infinite;
}
/* line 26, ../sass/sa.sass */
#stars:after {
  content: " ";
  position: relative;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1970px 1076px #fff, 1239px 1230px #fff, 1885px 1871px #fff,
    225px 102px #fff, 29px 722px #fff, 1626px 1668px #fff, 879px 1764px #fff,
    569px 873px #fff, 402px 725px #fff, 876px 942px #fff, 656px 1653px #fff,
    1646px 298px #fff, 1165px 921px #fff, 37px 1430px #fff, 659px 1665px #fff,
    830px 781px #fff, 949px 1509px #fff, 1025px 1159px #fff, 1606px 685px #fff,
    876px 1998px #fff, 232px 1849px #fff, 123px 795px #fff, 235px 640px #fff,
    160px 1391px #fff, 333px 1944px #fff, 502px 90px #fff, 1160px 680px #fff,
    1731px 1192px #fff, 642px 1930px #fff, 1879px 378px #fff, 314px 932px #fff,
    581px 545px #fff, 1926px 1705px #fff, 1147px 1339px #fff, 556px 1928px #fff,
    613px 1752px #fff, 556px 754px #fff, 1997px 1415px #fff, 361px 580px #fff,
    1987px 881px #fff, 127px 1991px #fff, 299px 80px #fff, 709px 600px #fff,
    1629px 1659px #fff, 1016px 1495px #fff, 592px 1858px #fff, 447px 553px #fff,
    1627px 703px #fff, 1802px 919px #fff, 6px 946px #fff, 1025px 867px #fff,
    1257px 1892px #fff, 1578px 223px #fff, 593px 409px #fff, 1116px 1246px #fff,
    1699px 1582px #fff, 199px 1520px #fff, 121px 975px #fff, 284px 558px #fff,
    330px 1998px #fff, 1564px 1690px #fff, 906px 1243px #fff, 1210px 492px #fff,
    511px 1450px #fff, 838px 1532px #fff, 1270px 1288px #fff, 852px 709px #fff,
    1760px 1944px #fff, 1053px 495px #fff, 1761px 1430px #fff,
    1086px 1280px #fff, 773px 1280px #fff, 469px 1606px #fff, 1202px 1604px #fff,
    725px 18px #fff, 314px 189px #fff, 678px 324px #fff, 674px 1353px #fff,
    44px 600px #fff, 1301px 1270px #fff, 388px 1001px #fff, 55px 1771px #fff,
    1179px 1167px #fff, 777px 993px #fff, 1440px 1014px #fff, 734px 1661px #fff,
    496px 1617px #fff, 1156px 565px #fff, 906px 219px #fff, 774px 9px #fff,
    1106px 1170px #fff, 85px 332px #fff, 67px 1918px #fff, 860px 1585px #fff,
    1900px 493px #fff, 1814px 1299px #fff, 1446px 1502px #fff, 1568px 101px #fff,
    1377px 272px #fff, 1428px 1339px #fff, 1893px 189px #fff, 1036px 302px #fff,
    1419px 680px #fff, 414px 1977px #fff, 913px 804px #fff, 50px 1146px #fff,
    1865px 1652px #fff, 690px 583px #fff, 301px 111px #fff, 348px 647px #fff,
    1184px 1111px #fff, 318px 560px #fff, 141px 458px #fff, 702px 1770px #fff,
    536px 529px #fff, 797px 1780px #fff, 201px 1684px #fff, 805px 1144px #fff,
    1415px 952px #fff, 947px 1413px #fff, 694px 1061px #fff, 1311px 581px #fff,
    1147px 1955px #fff, 1008px 1446px #fff, 1768px 371px #fff, 413px 1174px #fff,
    1428px 95px #fff, 619px 24px #fff, 412px 484px #fff, 1684px 497px #fff,
    379px 1171px #fff, 1976px 621px #fff, 1187px 1837px #fff, 618px 223px #fff,
    584px 782px #fff, 727px 1144px #fff, 875px 1015px #fff, 678px 251px #fff,
    1649px 423px #fff, 143px 1095px #fff, 1006px 847px #fff, 1112px 754px #fff,
    452px 1022px #fff, 419px 956px #fff, 1582px 1515px #fff, 380px 1211px #fff,
    1819px 597px #fff, 915px 915px #fff, 709px 428px #fff, 574px 379px #fff,
    1653px 985px #fff, 36px 31px #fff, 195px 966px #fff, 78px 1686px #fff,
    9px 1266px #fff, 1317px 1998px #fff, 322px 1973px #fff, 1240px 1500px #fff,
    890px 1856px #fff, 1474px 1045px #fff, 109px 638px #fff, 1616px 1073px #fff,
    1402px 117px #fff, 187px 23px #fff, 797px 348px #fff, 324px 626px #fff,
    1547px 1113px #fff, 251px 1230px #fff, 261px 667px #fff, 737px 630px #fff,
    1103px 1181px #fff, 1957px 1889px #fff, 242px 540px #fff, 560px 240px #fff,
    875px 1931px #fff, 1625px 1522px #fff, 507px 478px #fff, 1392px 45px #fff,
    1614px 1487px #fff, 61px 1700px #fff, 1920px 637px #fff, 1346px 1824px #fff,
    502px 1112px #fff, 55px 1183px #fff, 1979px 109px #fff, 974px 1692px #fff,
    507px 1394px #fff, 223px 1384px #fff, 1385px 1641px #fff, 181px 177px #fff,
    1062px 1924px #fff, 790px 1048px #fff, 457px 1108px #fff, 637px 665px #fff,
    1410px 79px #fff, 1670px 173px #fff, 193px 1172px #fff, 635px 1132px #fff,
    272px 1671px #fff, 1555px 953px #fff, 398px 840px #fff, 1983px 815px #fff,
    1552px 1909px #fff, 1301px 524px #fff, 1522px 965px #fff, 1022px 920px #fff,
    68px 521px #fff, 1191px 709px #fff, 897px 18px #fff, 1796px 1166px #fff,
    48px 1873px #fff, 1940px 1468px #fff, 311px 394px #fff, 913px 417px #fff,
    1107px 895px #fff, 1698px 592px #fff, 1124px 1170px #fff, 1346px 1545px #fff,
    1448px 1661px #fff, 374px 614px #fff, 503px 455px #fff, 1963px 981px #fff,
    881px 816px #fff, 362px 867px #fff, 1816px 1072px #fff, 1280px 495px #fff,
    1394px 1736px #fff, 1125px 662px #fff, 690px 193px #fff, 1345px 83px #fff,
    169px 377px #fff, 178px 729px #fff, 773px 1824px #fff, 1988px 829px #fff,
    540px 1479px #fff, 1686px 666px #fff, 228px 1859px #fff, 1115px 340px #fff,
    512px 1415px #fff, 1530px 221px #fff, 662px 857px #fff, 1355px 229px #fff,
    758px 806px #fff, 1212px 1338px #fff, 1866px 676px #fff, 1019px 1623px #fff,
    146px 1712px #fff, 112px 1113px #fff, 840px 423px #fff, 370px 915px #fff,
    1821px 317px #fff, 1229px 1105px #fff, 539px 358px #fff, 1878px 1358px #fff,
    862px 719px #fff, 1812px 1313px #fff, 833px 1667px #fff, 673px 1702px #fff,
    1140px 1199px #fff, 122px 1967px #fff, 874px 1560px #fff, 689px 947px #fff,
    1360px 286px #fff, 476px 101px #fff, 1648px 751px #fff, 1256px 960px #fff,
    1792px 306px #fff, 1299px 422px #fff, 1533px 931px #fff, 1474px 966px #fff,
    790px 319px #fff, 1296px 734px #fff, 1146px 1362px #fff, 307px 1123px #fff,
    147px 609px #fff, 1904px 119px #fff, 755px 1324px #fff, 1823px 177px #fff,
    78px 1453px #fff, 1702px 864px #fff, 565px 62px #fff, 202px 1522px #fff,
    1807px 1799px #fff, 23px 1521px #fff, 1490px 1566px #fff, 74px 1415px #fff,
    903px 1860px #fff, 1667px 740px #fff, 80px 1841px #fff, 246px 144px #fff,
    1278px 488px #fff, 584px 1425px #fff, 767px 814px #fff, 477px 969px #fff,
    415px 142px #fff, 943px 544px #fff, 1321px 1620px #fff, 795px 229px #fff,
    221px 1383px #fff, 399px 754px #fff, 1866px 323px #fff, 1925px 60px #fff,
    1006px 632px #fff, 1677px 171px #fff, 540px 847px #fff, 69px 279px #fff,
    81px 1639px #fff, 1924px 1642px #fff, 1945px 765px #fff, 1027px 587px #fff,
    60px 628px #fff, 1572px 1318px #fff, 1195px 653px #fff, 1605px 1930px #fff,
    1394px 1725px #fff, 603px 522px #fff, 661px 396px #fff, 1101px 366px #fff,
    141px 1094px #fff, 31px 63px #fff, 114px 1074px #fff, 1588px 788px #fff,
    1345px 993px #fff, 343px 242px #fff, 1570px 669px #fff, 1348px 695px #fff,
    1263px 1229px #fff, 1050px 1756px #fff, 816px 1860px #fff, 576px 422px #fff,
    1144px 1357px #fff, 843px 1643px #fff, 1063px 25px #fff, 1217px 1018px #fff,
    1271px 1578px #fff, 1687px 1518px #fff, 205px 12px #fff, 312px 735px #fff,
    185px 1816px #fff, 462px 583px #fff, 601px 1288px #fff, 1975px 696px #fff,
    508px 1178px #fff, 1549px 1161px #fff, 1477px 490px #fff, 1152px 195px #fff,
    1359px 1095px #fff, 1612px 1335px #fff, 1487px 136px #fff, 273px 619px #fff,
    1796px 906px #fff, 507px 1587px #fff, 287px 1653px #fff, 1568px 1075px #fff,
    470px 1950px #fff, 178px 459px #fff, 896px 1719px #fff, 1565px 620px #fff,
    1619px 64px #fff, 1387px 707px #fff, 1724px 242px #fff, 725px 194px #fff,
    869px 1663px #fff, 1023px 1888px #fff, 1771px 1584px #fff, 428px 166px #fff,
    1147px 1339px #fff, 129px 248px #fff, 63px 1751px #fff, 1503px 729px #fff,
    54px 1263px #fff, 1024px 940px #fff, 380px 465px #fff, 1444px 683px #fff,
    1748px 717px #fff, 784px 1229px #fff, 312px 1307px #fff, 51px 1851px #fff,
    1566px 1418px #fff, 1841px 1113px #fff, 1182px 1773px #fff,
    815px 1724px #fff, 1464px 862px #fff, 846px 589px #fff, 1110px 1605px #fff,
    1534px 693px #fff, 238px 133px #fff, 149px 1064px #fff, 1880px 113px #fff,
    603px 1218px #fff, 920px 1857px #fff, 255px 1560px #fff, 17px 1053px #fff,
    464px 1796px #fff, 1346px 1037px #fff, 430px 1287px #fff, 1262px 1568px #fff,
    11px 1793px #fff, 162px 97px #fff, 1570px 1805px #fff, 1295px 1406px #fff,
    540px 1526px #fff, 1768px 268px #fff, 1790px 1557px #fff, 1419px 700px #fff,
    1301px 244px #fff, 551px 264px #fff, 136px 64px #fff, 1725px 1182px #fff,
    434px 1290px #fff, 881px 367px #fff, 221px 1914px #fff, 311px 1676px #fff,
    170px 497px #fff, 656px 823px #fff, 1448px 1209px #fff, 1897px 351px #fff,
    390px 1018px #fff, 1551px 1373px #fff, 1834px 1317px #fff,
    1149px 1231px #fff, 796px 615px #fff, 1317px 1708px #fff, 1190px 287px #fff,
    1569px 21px #fff, 495px 1276px #fff, 955px 1101px #fff, 1167px 1487px #fff,
    1185px 1978px #fff, 875px 1232px #fff, 1631px 738px #fff, 1277px 1813px #fff,
    274px 1206px #fff, 646px 1982px #fff, 1882px 608px #fff, 1538px 318px #fff,
    132px 1697px #fff, 619px 1300px #fff, 1270px 1815px #fff, 647px 621px #fff,
    1369px 823px #fff, 1760px 1711px #fff, 1844px 1195px #fff,
    1654px 1472px #fff, 388px 1250px #fff, 637px 1443px #fff, 421px 1502px #fff,
    710px 752px #fff, 499px 1409px #fff, 1177px 32px #fff, 1451px 117px #fff,
    1034px 379px #fff, 1920px 344px #fff, 1328px 529px #fff, 355px 1968px #fff,
    122px 849px #fff, 1981px 1043px #fff, 1421px 33px #fff, 950px 455px #fff,
    1794px 504px #fff, 1678px 743px #fff, 639px 557px #fff, 358px 330px #fff,
    989px 1446px #fff, 1493px 1025px #fff, 1300px 1423px #fff, 1335px 331px #fff,
    1249px 540px #fff, 721px 1628px #fff, 44px 59px #fff, 772px 1306px #fff,
    1093px 1015px #fff, 808px 356px #fff, 435px 1344px #fff, 885px 1758px #fff,
    1068px 1768px #fff, 1579px 998px #fff, 1399px 1778px #fff, 1999px 32px #fff,
    1387px 1150px #fff, 1849px 759px #fff, 373px 1357px #fff, 144px 895px #fff,
    1348px 905px #fff, 936px 490px #fff, 808px 1811px #fff, 1528px 1296px #fff,
    1222px 873px #fff, 261px 1502px #fff, 652px 1900px #fff, 164px 1706px #fff,
    1375px 1124px #fff, 1627px 1509px #fff, 1344px 1418px #fff,
    1774px 689px #fff, 1709px 125px #fff, 543px 216px #fff, 468px 1906px #fff,
    516px 654px #fff, 155px 893px #fff, 950px 1795px #fff, 1321px 770px #fff,
    1308px 1074px #fff, 1271px 693px #fff, 405px 357px #fff, 157px 438px #fff,
    1209px 116px #fff, 775px 1989px #fff, 1004px 1404px #fff, 1500px 1327px #fff,
    855px 331px #fff, 1929px 1891px #fff, 1876px 711px #fff, 1340px 408px #fff,
    568px 1354px #fff, 934px 1031px #fff, 1002px 1662px #fff, 771px 317px #fff,
    1497px 1846px #fff, 1198px 1722px #fff, 1655px 139px #fff, 668px 1684px #fff,
    289px 1555px #fff, 1809px 1722px #fff, 911px 483px #fff, 32px 189px #fff,
    99px 1800px #fff, 563px 1820px #fff, 876px 1576px #fff, 139px 1218px #fff,
    1231px 1925px #fff, 819px 1807px #fff, 630px 117px #fff, 689px 506px #fff,
    953px 901px #fff, 279px 98px #fff, 1879px 331px #fff, 1507px 1073px #fff,
    1522px 1891px #fff, 1912px 866px #fff, 992px 1783px #fff, 1762px 452px #fff,
    1296px 1826px #fff, 381px 509px #fff, 1640px 362px #fff, 323px 561px #fff,
    27px 1868px #fff, 1904px 877px #fff, 1075px 1653px #fff, 765px 1273px #fff,
    70px 347px #fff, 439px 292px #fff, 1561px 1635px #fff, 1106px 747px #fff,
    1694px 1025px #fff, 1830px 305px #fff, 39px 1226px #fff, 959px 1721px #fff,
    643px 622px #fff, 2px 119px #fff, 395px 400px #fff, 1543px 688px #fff,
    853px 360px #fff, 913px 820px #fff, 1879px 1340px #fff, 494px 1397px #fff,
    57px 95px #fff, 40px 75px #fff, 1131px 1118px #fff, 968px 1392px #fff,
    256px 1785px #fff, 144px 1252px #fff, 1449px 1246px #fff, 1704px 438px #fff,
    697px 1698px #fff, 1321px 1096px #fff, 479px 1049px #fff, 1961px 382px #fff,
    1187px 127px #fff, 1492px 983px #fff, 315px 1135px #fff, 1167px 1168px #fff,
    673px 1853px #fff, 1491px 1353px #fff, 871px 1453px #fff, 877px 195px #fff,
    325px 189px #fff, 324px 1335px #fff, 1318px 1465px #fff, 1207px 478px #fff,
    404px 643px #fff, 1414px 77px #fff, 999px 1951px #fff, 1792px 928px #fff,
    449px 747px #fff, 1945px 1763px #fff, 1116px 479px #fff, 1926px 208px #fff,
    525px 1677px #fff, 1036px 536px #fff, 290px 1947px #fff, 819px 649px #fff,
    697px 623px #fff, 1380px 826px #fff, 1528px 1231px #fff, 811px 775px #fff,
    250px 1741px #fff, 306px 24px #fff, 1703px 884px #fff, 972px 318px #fff,
    160px 572px #fff, 1766px 1414px #fff, 1087px 16px #fff, 695px 553px #fff,
    1783px 613px #fff, 1120px 847px #fff, 232px 1820px #fff, 1470px 1189px #fff,
    265px 722px #fff, 264px 1704px #fff, 1101px 1907px #fff, 92px 1441px #fff,
    22px 815px #fff, 454px 994px #fff, 1619px 1991px #fff, 1775px 1355px #fff,
    299px 144px #fff, 269px 1928px #fff, 1781px 668px #fff, 1466px 1668px #fff,
    1714px 1695px #fff, 1146px 407px #fff, 1168px 268px #fff, 756px 1022px #fff,
    698px 805px #fff, 1179px 1503px #fff, 72px 1957px #fff, 1011px 1952px #fff,
    894px 153px #fff, 1886px 405px #fff, 874px 205px #fff, 477px 1623px #fff,
    913px 269px #fff, 1656px 1524px #fff, 1723px 1053px #fff, 607px 1842px #fff,
    855px 601px #fff, 1625px 78px #fff, 934px 332px #fff, 618px 1020px #fff,
    25px 1557px #fff, 1551px 890px #fff, 296px 1502px #fff, 913px 150px #fff,
    1417px 1829px #fff, 619px 573px #fff, 497px 737px #fff, 1236px 1910px #fff,
    725px 1502px #fff, 1860px 1848px #fff, 499px 1433px #fff, 595px 1788px #fff,
    471px 281px #fff, 250px 371px #fff, 1658px 718px #fff, 204px 288px #fff,
    1178px 1845px #fff, 816px 1874px #fff, 242px 678px #fff, 487px 1180px #fff,
    742px 1328px #fff, 1902px 1529px #fff, 1439px 695px #fff, 456px 408px #fff,
    797px 618px #fff, 1728px 159px #fff, 1369px 306px #fff, 988px 1470px #fff,
    1234px 1683px #fff, 804px 1798px #fff, 406px 1100px #fff, 225px 799px #fff,
    1726px 105px #fff, 692px 800px #fff, 1180px 934px #fff, 252px 691px #fff,
    370px 146px #fff, 1990px 230px #fff, 704px 1613px #fff, 547px 1225px #fff,
    768px 1627px #fff, 428px 288px #fff, 1447px 1587px #fff, 1179px 773px #fff,
    792px 930px #fff, 252px 465px #fff, 583px 1937px #fff, 965px 1937px #fff,
    913px 146px #fff, 650px 256px #fff;
}

/* line 35, ../sass/sa.sass */
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1469px 1394px #fff, 183px 66px #fff, 614px 1045px #fff,
    1054px 375px #fff, 1766px 762px #fff, 1750px 923px #fff, 801px 1928px #fff,
    1174px 240px #fff, 1040px 987px #fff, 1571px 474px #fff, 1531px 1205px #fff,
    248px 53px #fff, 818px 1909px #fff, 947px 110px #fff, 1083px 463px #fff,
    551px 60px #fff, 1808px 1379px #fff, 1489px 826px #fff, 38px 982px #fff,
    713px 1818px #fff, 941px 1383px #fff, 1344px 1063px #fff, 593px 68px #fff,
    1969px 638px #fff, 1488px 1083px #fff, 1234px 1060px #fff,
    1521px 1111px #fff, 1075px 572px #fff, 1513px 263px #fff, 1130px 219px #fff,
    1416px 277px #fff, 251px 983px #fff, 1541px 1167px #fff, 403px 1477px #fff,
    567px 335px #fff, 449px 169px #fff, 172px 761px #fff, 1633px 544px #fff,
    1254px 1518px #fff, 1682px 576px #fff, 1620px 1701px #fff, 673px 1967px #fff,
    1137px 1260px #fff, 1536px 1980px #fff, 1196px 618px #fff,
    1742px 1034px #fff, 1258px 800px #fff, 1345px 1966px #fff, 525px 1264px #fff,
    917px 59px #fff, 738px 1853px #fff, 1511px 181px #fff, 437px 791px #fff,
    377px 1632px #fff, 179px 1409px #fff, 413px 1317px #fff, 7px 257px #fff,
    731px 1678px #fff, 1111px 1388px #fff, 298px 667px #fff, 343px 1298px #fff,
    1382px 709px #fff, 398px 1647px #fff, 1971px 256px #fff, 610px 1577px #fff,
    1196px 1058px #fff, 1996px 1473px #fff, 1233px 1971px #fff,
    1078px 652px #fff, 51px 724px #fff, 306px 55px #fff, 1003px 1090px #fff,
    100px 887px #fff, 1744px 1466px #fff, 225px 1379px #fff, 629px 750px #fff,
    419px 492px #fff, 1221px 1687px #fff, 1400px 352px #fff, 1826px 136px #fff,
    742px 200px #fff, 589px 1779px #fff, 1629px 695px #fff, 1918px 1806px #fff,
    859px 313px #fff, 129px 819px #fff, 77px 1469px #fff, 625px 1213px #fff,
    935px 342px #fff, 620px 379px #fff, 143px 1207px #fff, 1136px 820px #fff,
    199px 331px #fff, 913px 428px #fff, 1802px 366px #fff, 1267px 1685px #fff,
    358px 454px #fff, 69px 369px #fff, 57px 865px #fff, 1552px 1088px #fff,
    337px 646px #fff, 1950px 1864px #fff, 277px 928px #fff, 1348px 1722px #fff,
    1445px 1497px #fff, 578px 1110px #fff, 808px 1469px #fff, 1414px 473px #fff,
    783px 789px #fff, 96px 37px #fff, 134px 1667px #fff, 1103px 796px #fff,
    598px 1648px #fff, 1705px 1921px #fff, 1666px 193px #fff, 924px 886px #fff,
    611px 1321px #fff, 1400px 106px #fff, 60px 1951px #fff, 1110px 754px #fff,
    1101px 863px #fff, 203px 544px #fff, 342px 559px #fff, 1181px 601px #fff,
    1748px 626px #fff, 836px 1203px #fff, 1275px 393px #fff, 429px 1596px #fff,
    778px 1798px #fff, 1737px 1667px #fff, 1683px 1321px #fff,
    1827px 1329px #fff, 60px 146px #fff, 1051px 838px #fff, 640px 822px #fff,
    1821px 816px #fff, 1139px 131px #fff, 620px 1991px #fff, 1214px 1262px #fff,
    118px 497px #fff, 612px 708px #fff, 1088px 1402px #fff, 1389px 1927px #fff,
    908px 1655px #fff, 1190px 12px #fff, 1493px 726px #fff, 1851px 843px #fff,
    859px 1601px #fff, 126px 821px #fff, 1148px 1679px #fff, 1829px 317px #fff,
    1382px 287px #fff, 1901px 1624px #fff, 1023px 429px #fff, 1203px 1598px #fff,
    1084px 970px #fff, 850px 860px #fff, 1375px 105px #fff, 547px 655px #fff,
    458px 1036px #fff, 1416px 1251px #fff, 1877px 1199px #fff,
    1464px 1196px #fff, 1953px 1703px #fff, 992px 1562px #fff,
    1492px 1072px #fff, 1391px 1831px #fff, 1344px 179px #fff, 542px 1398px #fff,
    41px 1840px #fff, 776px 1227px #fff, 1421px 229px #fff, 1932px 1243px #fff,
    1294px 113px #fff, 676px 1389px #fff, 1615px 1777px #fff, 176px 262px #fff,
    1138px 220px #fff, 1881px 684px #fff, 956px 1329px #fff, 1500px 1248px #fff,
    215px 1424px #fff, 10px 34px #fff, 1737px 850px #fff, 624px 598px #fff,
    339px 942px #fff, 155px 1010px #fff, 262px 1506px #fff, 493px 1698px #fff,
    478px 576px #fff, 537px 1215px #fff, 667px 1876px #fff, 1638px 476px #fff,
    241px 1392px #fff, 1752px 632px #fff, 467px 318px #fff, 1893px 1586px #fff,
    359px 1960px #fff, 14px 1923px #fff, 224px 1701px #fff;
  animation: animStar 100s linear infinite;
}
/* line 42, ../sass/sa.sass */
#stars2:after {
  content: " ";
  position: relative;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1469px 1394px #fff, 183px 66px #fff, 614px 1045px #fff,
    1054px 375px #fff, 1766px 762px #fff, 1750px 923px #fff, 801px 1928px #fff,
    1174px 240px #fff, 1040px 987px #fff, 1571px 474px #fff, 1531px 1205px #fff,
    248px 53px #fff, 818px 1909px #fff, 947px 110px #fff, 1083px 463px #fff,
    551px 60px #fff, 1808px 1379px #fff, 1489px 826px #fff, 38px 982px #fff,
    713px 1818px #fff, 941px 1383px #fff, 1344px 1063px #fff, 593px 68px #fff,
    1969px 638px #fff, 1488px 1083px #fff, 1234px 1060px #fff,
    1521px 1111px #fff, 1075px 572px #fff, 1513px 263px #fff, 1130px 219px #fff,
    1416px 277px #fff, 251px 983px #fff, 1541px 1167px #fff, 403px 1477px #fff,
    567px 335px #fff, 449px 169px #fff, 172px 761px #fff, 1633px 544px #fff,
    1254px 1518px #fff, 1682px 576px #fff, 1620px 1701px #fff, 673px 1967px #fff,
    1137px 1260px #fff, 1536px 1980px #fff, 1196px 618px #fff,
    1742px 1034px #fff, 1258px 800px #fff, 1345px 1966px #fff, 525px 1264px #fff,
    917px 59px #fff, 738px 1853px #fff, 1511px 181px #fff, 437px 791px #fff,
    377px 1632px #fff, 179px 1409px #fff, 413px 1317px #fff, 7px 257px #fff,
    731px 1678px #fff, 1111px 1388px #fff, 298px 667px #fff, 343px 1298px #fff,
    1382px 709px #fff, 398px 1647px #fff, 1971px 256px #fff, 610px 1577px #fff,
    1196px 1058px #fff, 1996px 1473px #fff, 1233px 1971px #fff,
    1078px 652px #fff, 51px 724px #fff, 306px 55px #fff, 1003px 1090px #fff,
    100px 887px #fff, 1744px 1466px #fff, 225px 1379px #fff, 629px 750px #fff,
    419px 492px #fff, 1221px 1687px #fff, 1400px 352px #fff, 1826px 136px #fff,
    742px 200px #fff, 589px 1779px #fff, 1629px 695px #fff, 1918px 1806px #fff,
    859px 313px #fff, 129px 819px #fff, 77px 1469px #fff, 625px 1213px #fff,
    935px 342px #fff, 620px 379px #fff, 143px 1207px #fff, 1136px 820px #fff,
    199px 331px #fff, 913px 428px #fff, 1802px 366px #fff, 1267px 1685px #fff,
    358px 454px #fff, 69px 369px #fff, 57px 865px #fff, 1552px 1088px #fff,
    337px 646px #fff, 1950px 1864px #fff, 277px 928px #fff, 1348px 1722px #fff,
    1445px 1497px #fff, 578px 1110px #fff, 808px 1469px #fff, 1414px 473px #fff,
    783px 789px #fff, 96px 37px #fff, 134px 1667px #fff, 1103px 796px #fff,
    598px 1648px #fff, 1705px 1921px #fff, 1666px 193px #fff, 924px 886px #fff,
    611px 1321px #fff, 1400px 106px #fff, 60px 1951px #fff, 1110px 754px #fff,
    1101px 863px #fff, 203px 544px #fff, 342px 559px #fff, 1181px 601px #fff,
    1748px 626px #fff, 836px 1203px #fff, 1275px 393px #fff, 429px 1596px #fff,
    778px 1798px #fff, 1737px 1667px #fff, 1683px 1321px #fff,
    1827px 1329px #fff, 60px 146px #fff, 1051px 838px #fff, 640px 822px #fff,
    1821px 816px #fff, 1139px 131px #fff, 620px 1991px #fff, 1214px 1262px #fff,
    118px 497px #fff, 612px 708px #fff, 1088px 1402px #fff, 1389px 1927px #fff,
    908px 1655px #fff, 1190px 12px #fff, 1493px 726px #fff, 1851px 843px #fff,
    859px 1601px #fff, 126px 821px #fff, 1148px 1679px #fff, 1829px 317px #fff,
    1382px 287px #fff, 1901px 1624px #fff, 1023px 429px #fff, 1203px 1598px #fff,
    1084px 970px #fff, 850px 860px #fff, 1375px 105px #fff, 547px 655px #fff,
    458px 1036px #fff, 1416px 1251px #fff, 1877px 1199px #fff,
    1464px 1196px #fff, 1953px 1703px #fff, 992px 1562px #fff,
    1492px 1072px #fff, 1391px 1831px #fff, 1344px 179px #fff, 542px 1398px #fff,
    41px 1840px #fff, 776px 1227px #fff, 1421px 229px #fff, 1932px 1243px #fff,
    1294px 113px #fff, 676px 1389px #fff, 1615px 1777px #fff, 176px 262px #fff,
    1138px 220px #fff, 1881px 684px #fff, 956px 1329px #fff, 1500px 1248px #fff,
    215px 1424px #fff, 10px 34px #fff, 1737px 850px #fff, 624px 598px #fff,
    339px 942px #fff, 155px 1010px #fff, 262px 1506px #fff, 493px 1698px #fff,
    478px 576px #fff, 537px 1215px #fff, 667px 1876px #fff, 1638px 476px #fff,
    241px 1392px #fff, 1752px 632px #fff, 467px 318px #fff, 1893px 1586px #fff,
    359px 1960px #fff, 14px 1923px #fff, 224px 1701px #fff;
}

/* line 51, ../sass/sa.sass */
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 221px 1046px #fff, 389px 1644px #fff, 999px 1739px #fff,
    78px 89px #fff, 10px 245px #fff, 751px 562px #fff, 1996px 1094px #fff,
    1916px 1160px #fff, 1690px 1491px #fff, 1671px 862px #fff, 1852px 250px #fff,
    1466px 296px #fff, 565px 1089px #fff, 1602px 1958px #fff, 1697px 1723px #fff,
    1799px 1955px #fff, 1617px 53px #fff, 905px 1572px #fff, 264px 1277px #fff,
    701px 12px #fff, 1752px 1978px #fff, 946px 1482px #fff, 16px 513px #fff,
    209px 1548px #fff, 482px 759px #fff, 350px 1190px #fff, 1050px 251px #fff,
    633px 1982px #fff, 1132px 769px #fff, 1115px 1381px #fff, 419px 1281px #fff,
    1451px 51px #fff, 1899px 103px #fff, 1159px 326px #fff, 1881px 1920px #fff,
    817px 1500px #fff, 1213px 1202px #fff, 983px 1131px #fff, 1354px 304px #fff,
    1785px 108px #fff, 678px 553px #fff, 1002px 168px #fff, 12px 1271px #fff,
    849px 1325px #fff, 1026px 1889px #fff, 175px 1122px #fff, 705px 1510px #fff,
    1840px 109px #fff, 746px 320px #fff, 1027px 1495px #fff, 1094px 1470px #fff,
    877px 322px #fff, 290px 1948px #fff, 1908px 129px #fff, 174px 1689px #fff,
    1956px 1265px #fff, 628px 19px #fff, 1808px 813px #fff, 1207px 1375px #fff,
    509px 539px #fff, 1193px 1899px #fff, 502px 1052px #fff, 1273px 1947px #fff,
    1801px 1551px #fff, 951px 1532px #fff, 664px 1062px #fff, 734px 589px #fff,
    806px 74px #fff, 987px 1560px #fff, 1131px 1936px #fff, 819px 312px #fff,
    365px 681px #fff, 1844px 137px #fff, 1857px 83px #fff, 1261px 1767px #fff,
    983px 1998px #fff, 191px 89px #fff, 464px 265px #fff, 1940px 424px #fff,
    36px 1074px #fff, 1533px 230px #fff, 1562px 1306px #fff, 383px 604px #fff,
    1307px 830px #fff, 324px 80px #fff, 165px 467px #fff, 1187px 957px #fff,
    590px 1692px #fff, 1903px 1461px #fff, 640px 141px #fff, 349px 1929px #fff,
    1353px 1172px #fff, 731px 1465px #fff, 1384px 670px #fff, 1380px 1249px #fff,
    1760px 518px #fff, 169px 1256px #fff, 182px 445px #fff, 1946px 928px #fff,
    1481px 1943px #fff;
  animation: animStar 150s linear infinite;
}
/* line 58, ../sass/sa.sass */
#stars3:after {
  content: " ";
  position: relative;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 221px 1046px #fff, 389px 1644px #fff, 999px 1739px #fff,
    78px 89px #fff, 10px 245px #fff, 751px 562px #fff, 1996px 1094px #fff,
    1916px 1160px #fff, 1690px 1491px #fff, 1671px 862px #fff, 1852px 250px #fff,
    1466px 296px #fff, 565px 1089px #fff, 1602px 1958px #fff, 1697px 1723px #fff,
    1799px 1955px #fff, 1617px 53px #fff, 905px 1572px #fff, 264px 1277px #fff,
    701px 12px #fff, 1752px 1978px #fff, 946px 1482px #fff, 16px 513px #fff,
    209px 1548px #fff, 482px 759px #fff, 350px 1190px #fff, 1050px 251px #fff,
    633px 1982px #fff, 1132px 769px #fff, 1115px 1381px #fff, 419px 1281px #fff,
    1451px 51px #fff, 1899px 103px #fff, 1159px 326px #fff, 1881px 1920px #fff,
    817px 1500px #fff, 1213px 1202px #fff, 983px 1131px #fff, 1354px 304px #fff,
    1785px 108px #fff, 678px 553px #fff, 1002px 168px #fff, 12px 1271px #fff,
    849px 1325px #fff, 1026px 1889px #fff, 175px 1122px #fff, 705px 1510px #fff,
    1840px 109px #fff, 746px 320px #fff, 1027px 1495px #fff, 1094px 1470px #fff,
    877px 322px #fff, 290px 1948px #fff, 1908px 129px #fff, 174px 1689px #fff,
    1956px 1265px #fff, 628px 19px #fff, 1808px 813px #fff, 1207px 1375px #fff,
    509px 539px #fff, 1193px 1899px #fff, 502px 1052px #fff, 1273px 1947px #fff,
    1801px 1551px #fff, 951px 1532px #fff, 664px 1062px #fff, 734px 589px #fff,
    806px 74px #fff, 987px 1560px #fff, 1131px 1936px #fff, 819px 312px #fff,
    365px 681px #fff, 1844px 137px #fff, 1857px 83px #fff, 1261px 1767px #fff,
    983px 1998px #fff, 191px 89px #fff, 464px 265px #fff, 1940px 424px #fff,
    36px 1074px #fff, 1533px 230px #fff, 1562px 1306px #fff, 383px 604px #fff,
    1307px 830px #fff, 324px 80px #fff, 165px 467px #fff, 1187px 957px #fff,
    590px 1692px #fff, 1903px 1461px #fff, 640px 141px #fff, 349px 1929px #fff,
    1353px 1172px #fff, 731px 1465px #fff, 1384px 670px #fff, 1380px 1249px #fff,
    1760px 518px #fff, 169px 1256px #fff, 182px 445px #fff, 1946px 928px #fff,
    1481px 1943px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
